#Espresso
*.esproj

#Vim
*~
*.swp

#Netbeans
nbproject/*

#PHPStorm
idea/*

#SublimeText2
/*.sublime-project

#Textmate
*.tmproj
*.tmproject
tmtags

#CakePHP
tmp/*
config/database.php
app/tmp/*
app/config/database.php
!empty

#Kohana
application/cache/*
application/logs/*

#MAC
.DS_Store
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
